<div class="main-page-container container" [formGroup]="form">
  <div class="toggle-button-row row justify-content-start">
    <div class="toggle-label-col col-12">
      Please Select the KC map you would like to display:
    </div>
    <div class="toggle-button-col col-4">
      <mat-button-toggle-group name="toggle" aria-label="Map Area" formControlName="toggle" (change)="this.retrieveChartData()">
        <mat-button-toggle value="hood">Neighborhoods</mat-button-toggle>
        <mat-button-toggle value="tract">Tracts</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="map-type-row row justify-content-start">
    <div class="type-label-col col-12">
      Please Select the commute you would like to see in the map.
    </div>
    <div class="type-select-col col-4">
      <mat-form-field appearance="standard">
        <mat-label>Commute Type</mat-label>
        <mat-select formControlName="commutes" name="commutes" (selectionChange)="this.retrieveChartData()">
          <mat-option value="all">All</mat-option>
          <mat-option *ngFor="let type of commutes" [value]="type.value">
            {{type.label | titlecase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="geo-chart-row row row-justify-center" *ngIf="chartData">
    <div class="geo-chart-col col-12">
      <app-geo-chart [chartData]="chartData" [commute]="form.value.commutes"></app-geo-chart>
    </div>
  </div>
</div>
