.main-page-container {
    padding: 50px 100px;
    .toggle-button-row {
        .toggle-label-col {
            margin-bottom: 15px;
        }
    }
    .map-type-row {
        padding-top: 15px;
    }
    .geo-chart-row {
        padding: 15px 0;
    }
}