.main-page-container {
    padding-top: 50px;
    padding-bottom: 50px;
    .toggle-button-row {
        .toggle-label-col {
            margin-bottom: 15px;
        }
    }
    .geo-chart-row {
        padding: 15px 0;
    }
}